target-version = "py38"
line-length = 88
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "htmlcov",
    "node_modules",
    "venv",
]

[lint]
select = [
    "E",
    "W",
    "F",
    "I",
    "B",
    "C4",
    "UP",
    "ARG",
    "C90",
    "T20",
    "SIM",
    "TID",
    "TCH",
    "PTH",
    "ERA",
    "PD",
    "PL",
    "TRY",
    "FLY",
    "PERF",
    "RUF",
]
ignore = [
    "E501",
    "W505",
    "PLR2004",
    "PLR0913",
    "PLR0912",
    "PLR0915",
    "C901",
    "B008",
    "B904",
    "T201",
    "ERA001",
    "TRY002",
    "TRY003",
    "TRY300",
    "TRY301",
    "TRY401",
    "PD901",
    "ARG002",
    "UP015",
    "SIM102",
    "SIM108",
    "SIM401",
    "PERF203",
    "PTH100",
    "PTH110",
    "PTH111",
    "PTH120",
    "PTH123",
    "PLC0415",
    "PLR0911",
    "PLW2901",
    "RUF001",
    "TRY004",
    "E722",
]

[lint.per-file-ignores]
"tests/**/*.py" = [
    "S101",  # allow asserts in tests
    "ARG001", # unused function args in tests
    "ARG002", # unused method args in tests
]

[lint.mccabe]
max-complexity = 10

[lint.isort]
force-single-line = false
known-first-party = ["main"]
lines-after-imports = 2
